/.env
/.env.local
/backend/.env*
/frontend/.env*
/backend/.env*
/frontend/.env*
/server/.env*
/web/.env*
**/.env*
**/.env.local
/node_modules
/dist

# App packages
/server/node_modules
/web/node_modules
/web/dist

# Logs and OS files
*.log
*.sqlite
.DS_Store
